In [23]:
import sqlite3
import pandas as pd 
import random
import os 
import numpy as np 
import ast 

# --- Set paths to database ---

os.chdir("/Users/duartedasilva/Desktop/Data Work/Data Projects/manga_anilist_pipeline")

BASE_DIR = os.getcwd()
DATA_PATH = os.path.join(BASE_DIR, "data", "top_manga2.parquet")
DB_PATH = os.path.join(BASE_DIR, "db", "top_manga2.db")

print("Resolved Path:", os.path.abspath(DATA_PATH))
print("File exists?:", os.path.exists(DATA_PATH))

Resolved Path: /Users/duartedasilva/Desktop/Data Work/Data Projects/manga_anilist_pipeline/data/top_manga2.parquet
File exists?: True

In [24]:
# --- Load data as CSV file ---

top_manga = pd.read_parquet(DATA_PATH)
print(type(top_manga["staff_names"].iloc[0]))
print(top_manga["staff_names"].head(3))
print("COLUMNS:",top_manga.columns)
print(top_manga.info)
print(top_manga.describe(include='all'))

print("Dataframe:", top_manga.head(20))

<class 'numpy.ndarray'>
0    [{'name': 'Kentarou Miura', 'primaryOccupation...
1    [{'name': 'Yasuki Tanaka', 'primaryOccupations...
2    [{'name': 'Takehiko Inoue', 'primaryOccupation...
Name: staff_names, dtype: object
COLUMNS: Index(['manga_id', 'title_romaji', 'title_english', 'title_native', 'format',
       'popularity', 'average_score', 'genres', 'start_date', 'end_date',
       'status', 'chapters', 'volumes', 'staff_names'],
      dtype='object')
<bound method DataFrame.info of      manga_id                                       title_romaji  \
0       30002                                            Berserk
1       31706           JoJo no Kimyou na Bouken: Steel Ball Run
2       30656                                           Vagabond
3       30013                                          ONE PIECE
4       64053  Umineko no Naku Koro ni Chiru Episode 8: Twili...
..        ...                                                ...
445     31695                                     Adolf ni Tsugu
446     31297                         Iryuu: Team Medical Dragon
447     30031                                     Lovely★Complex
448    170400                        Byeoreul Pumeun Swordmaster
449    163824               Cheolhyeolgeomga Sanyanggaeui Hoegwi

                                         title_english  \
0                                              Berserk
1      JoJo's Bizarre Adventure: Part 7–Steel Ball Run
2                                             Vagabond
3                                            One Piece
4    Umineko When They Cry Episode 8: Twilight of t...
..                                                 ...
445                                   Message to Adolf
446                                               None
447                                           Love★Com
448                            The Stellar Swordmaster
449              Revenge of the Baskerville Bloodhound

                                          title_native format  popularity  \
0                                                ベルセルク  MANGA      220967
1                              ジョジョの奇妙な冒険 スティール・ボール・ラン  MANGA       93385
2                                                バガボンド  MANGA      144337
3                                            ONE PIECE  MANGA      210786
4    うみねこのなく頃に散 - Episode 8: Twilight of the Golden...  MANGA       10270
..                                                 ...    ...         ...
445                                            アドルフに告ぐ  MANGA       10300
446                            医龍-Team Medical Dragon-  MANGA        3978
447                                              ラブ★コン  MANGA       16407
448                                        별을 품은 소드마스터  MANGA       18614
449                                       철혈검가 사냥개의 회귀  MANGA       35064

     average_score                                             genres  \
0               93  [Action, Adventure, Drama, Fantasy, Horror, Ps...
1               92  [Action, Adventure, Drama, Mystery, Supernatural]
2               92                         [Action, Adventure, Drama]
3               91               [Action, Adventure, Comedy, Fantasy]
4               91            [Drama, Fantasy, Mystery, Supernatural]
..             ...                                                ...
445             80                          [Drama, Mystery, Romance]
446             80                             [Drama, Psychological]
447             80                           [Comedy, Drama, Romance]
448             80                       [Action, Adventure, Fantasy]
449             80                                  [Action, Fantasy]

                                    start_date  \
0    {'day': 25.0, 'month': 8.0, 'year': 1989}
1    {'day': 19.0, 'month': 1.0, 'year': 2004}
2     {'day': 3.0, 'month': 9.0, 'year': 1998}
3    {'day': 22.0, 'month': 7.0, 'year': 1997}
4    {'day': 21.0, 'month': 1.0, 'year': 2012}
..                                         ...
445   {'day': 6.0, 'month': 1.0, 'year': 1983}
446  {'day': 1.0, 'month': 11.0, 'year': 2002}
447  {'day': 13.0, 'month': 8.0, 'year': 2001}
448  {'day': 19.0, 'month': 9.0, 'year': 2023}
449  {'day': 14.0, 'month': 4.0, 'year': 2023}

                                        end_date     status  chapters  \
0     {'day': None, 'month': None, 'year': None}  RELEASING       NaN
1    {'day': 19.0, 'month': 4.0, 'year': 2011.0}   FINISHED      95.0
2     {'day': None, 'month': None, 'year': None}  RELEASING       NaN
3     {'day': None, 'month': None, 'year': None}  RELEASING       NaN
4    {'day': 22.0, 'month': 6.0, 'year': 2015.0}   FINISHED      42.0
..                                           ...        ...       ...
445  {'day': 30.0, 'month': 5.0, 'year': 1985.0}   FINISHED      36.0
446  {'day': 28.0, 'month': 1.0, 'year': 2011.0}   FINISHED     210.0
447  {'day': 13.0, 'month': 8.0, 'year': 2007.0}   FINISHED      72.0
448   {'day': None, 'month': None, 'year': None}  RELEASING       NaN
449   {'day': None, 'month': None, 'year': None}  RELEASING       NaN

     volumes                                        staff_names
0        NaN  [{'name': 'Kentarou Miura', 'primaryOccupation...
1       24.0  [{'name': 'Yasuki Tanaka', 'primaryOccupations...
2        NaN  [{'name': 'Takehiko Inoue', 'primaryOccupation...
3        NaN  [{'name': 'Eiichirou Oda', 'primaryOccupations...
4        9.0  [{'name': 'Kei Natsumi', 'primaryOccupations':...
..       ...                                                ...
445      5.0  [{'name': 'Osamu Tezuka', 'primaryOccupations'...
446     25.0  [{'name': 'Akira Nagai', 'primaryOccupations':...
447     17.0  [{'name': 'Aya Nakahara', 'primaryOccupations'...
448      NaN  [{'name': 'Dae-Ui Hong', 'primaryOccupations':...
449      NaN  [{'name': 'San-Chaek Lee', 'primaryOccupations...

[450 rows x 14 columns]>
             manga_id                    title_romaji title_english  \
count      450.000000                             450           372
unique            NaN                             439           366
top               NaN  Tensei Shitara Slime Datta Ken  Spice & Wolf
freq              NaN                               2             2
mean     84872.504444                             NaN           NaN
std      42481.558721                             NaN           NaN
min      30001.000000                             NaN           NaN
25%      38280.750000                             NaN           NaN
50%      86927.000000                             NaN           NaN
75%     113997.500000                             NaN           NaN
max     187944.000000                             NaN           NaN

         title_native format     popularity  average_score   genres  \
count             450    450     450.000000     450.000000      450
unique            440      3            NaN            NaN      438
top     転生したらスライムだった件  MANGA            NaN            NaN  [Drama]
freq                2    359            NaN            NaN        5
mean              NaN    NaN   26589.837778      83.188889      NaN
std               NaN    NaN   35831.655739       2.456274      NaN
min               NaN    NaN     382.000000      80.000000      NaN
25%               NaN    NaN    6734.000000      81.000000      NaN
50%               NaN    NaN   13693.000000      83.000000      NaN
75%               NaN    NaN   33550.750000      84.000000      NaN
max               NaN    NaN  298644.000000      93.000000      NaN

                                       start_date  \
count                                         450
unique                                        435
top     {'day': 26.0, 'month': 6.0, 'year': 2006}
freq                                            2
mean                                          NaN
std                                           NaN
min                                           NaN
25%                                           NaN
50%                                           NaN
75%                                           NaN
max                                           NaN

                                          end_date    status    chapters  \
count                                          450       450  301.000000
unique                                         298         3         NaN
top     {'day': None, 'month': None, 'year': None}  FINISHED         NaN
freq                                           143       303         NaN
mean                                           NaN       NaN  116.790698
std                                            NaN       NaN  115.932736
min                                            NaN       NaN    1.000000
25%                                            NaN       NaN   30.000000
50%                                            NaN       NaN   90.000000
75%                                            NaN       NaN  161.000000
max                                            NaN       NaN  725.000000

           volumes                                        staff_names
count   291.000000                                                450
unique         NaN                                                448
top            NaN  [{'name': 'Nobuyuki Fukumoto', 'primaryOccupat...
freq           NaN                                                  3
mean     13.422680                                                NaN
std      11.982892                                                NaN
min       1.000000                                                NaN
25%       3.000000                                                NaN
50%      11.000000                                                NaN
75%      19.500000                                                NaN
max      77.000000                                                NaN
Dataframe:     manga_id                                       title_romaji  \
0      30002                                            Berserk
1      31706           JoJo no Kimyou na Bouken: Steel Ball Run
2      30656                                           Vagabond
3      30013                                          ONE PIECE
4      64053  Umineko no Naku Koro ni Chiru Episode 8: Twili...
5      30001                                            MONSTER
6      30642                                       Vinland Saga
7      30051                                          SLAM DUNK
8      74489                                    Houseki no Kuni
9      30025                           Hagane no Renkinjutsushi
10    110992  Fata Morgana no Yakata: Anata no Genten ni Ita...
11     30657                                               Real
12    140407                      Yeokdaegeum Yeongji Seolgyesa
13     46765                                            Kingdom
14     65243                                          Haikyuu!!
15    113869  Honzuki no Gekokujou: Shisho ni Naru Tame ni w...
16     87395                                         Grand Blue
17     31303                                      Ashita no Joe
18     30104                                        Yotsuba to!
19    135129                       Vagabond: Saigo no Manga-ten

                                        title_english  \
0                                             Berserk
1     JoJo's Bizarre Adventure: Part 7–Steel Ball Run
2                                            Vagabond
3                                           One Piece
4   Umineko When They Cry Episode 8: Twilight of t...
5                                             Monster
6                                        Vinland Saga
7                                           Slam Dunk
8                                Land of the Lustrous
9                                 Fullmetal Alchemist
10                                               None
11                                               Real
12                      The Greatest Estate Developer
13                                            Kingdom
14                                           Haikyu!!
15                   Ascendance of a Bookworm: Part 5
16                                Grand Blue Dreaming
17               Ashita no Joe: Fighting for Tomorrow
18                                          Yotsuba&!
19                                               None

                                         title_native format  popularity  \
0                                               ベルセルク  MANGA      220967
1                             ジョジョの奇妙な冒険 スティール・ボール・ラン  MANGA       93385
2                                               バガボンド  MANGA      144337
3                                           ONE PIECE  MANGA      210786
4   うみねこのなく頃に散 - Episode 8: Twilight of the Golden...  MANGA       10270
5                                             MONSTER  MANGA       96881
6                                           ヴィンランド・サガ  MANGA      125141
7                                           SLAM DUNK  MANGA       67569
8                                                宝石の国  MANGA       72756
9                                              鋼の錬金術師  MANGA       72911
10  ファタモルガーナの館 ―The house in Fata morgana― あなたの原典に...  NOVEL        5513
11                                                リアル  MANGA       44565
12                                         역대급 영지 설계사  MANGA       48794
13                                              キングダム  MANGA       68172
14                                            ハイキュー！！  MANGA       95403
15           本好きの下剋上～司書になるためには手段を選んでいられません～第五部「女神の化身」  NOVEL        1880
16                                              ぐらんぶる  MANGA       62499
17                                            あしたのジョー  MANGA       26691
18                                              よつばと！  MANGA       58321
19                                      バガボンド 最後のマンガ展  MANGA        7955

    average_score                                             genres  \
0              93  [Action, Adventure, Drama, Fantasy, Horror, Ps...
1              92  [Action, Adventure, Drama, Mystery, Supernatural]
2              92                         [Action, Adventure, Drama]
3              91               [Action, Adventure, Comedy, Fantasy]
4              91            [Drama, Fantasy, Mystery, Supernatural]
5              91          [Drama, Mystery, Psychological, Thriller]
6              90                         [Action, Adventure, Drama]
7              90                            [Comedy, Drama, Sports]
8              89  [Action, Drama, Fantasy, Mystery, Psychologica...
9              89        [Action, Adventure, Comedy, Drama, Fantasy]
10             89             [Drama, Horror, Mystery, Supernatural]
11             89                     [Drama, Psychological, Sports]
12             89                       [Adventure, Comedy, Fantasy]
13             89                                    [Action, Drama]
14             89                            [Comedy, Drama, Sports]
15             88                           [Fantasy, Slice of Life]
16             88           [Comedy, Romance, Slice of Life, Sports]
17             88                     [Drama, Slice of Life, Sports]
18             88                            [Comedy, Slice of Life]
19             88                     [Action, Drama, Psychological]

                                    start_date  \
0    {'day': 25.0, 'month': 8.0, 'year': 1989}
1    {'day': 19.0, 'month': 1.0, 'year': 2004}
2     {'day': 3.0, 'month': 9.0, 'year': 1998}
3    {'day': 22.0, 'month': 7.0, 'year': 1997}
4    {'day': 21.0, 'month': 1.0, 'year': 2012}
5    {'day': 5.0, 'month': 12.0, 'year': 1994}
6    {'day': 27.0, 'month': 4.0, 'year': 2005}
7    {'day': 18.0, 'month': 9.0, 'year': 1990}
8   {'day': 25.0, 'month': 10.0, 'year': 2012}
9    {'day': 12.0, 'month': 7.0, 'year': 2001}
10    {'day': 4.0, 'month': 8.0, 'year': 2014}
11  {'day': 11.0, 'month': 11.0, 'year': 1999}
12    {'day': 5.0, 'month': 8.0, 'year': 2021}
13   {'day': 26.0, 'month': 1.0, 'year': 2006}
14   {'day': 20.0, 'month': 2.0, 'year': 2012}
15   {'day': 10.0, 'month': 3.0, 'year': 2020}
16    {'day': 7.0, 'month': 4.0, 'year': 2014}
17    {'day': 1.0, 'month': 1.0, 'year': 1968}
18   {'day': 21.0, 'month': 3.0, 'year': 2003}
19   {'day': 24.0, 'month': 5.0, 'year': 2008}

                                        end_date     status  chapters  \
0     {'day': None, 'month': None, 'year': None}  RELEASING       NaN
1    {'day': 19.0, 'month': 4.0, 'year': 2011.0}   FINISHED      95.0
2     {'day': None, 'month': None, 'year': None}  RELEASING       NaN
3     {'day': None, 'month': None, 'year': None}  RELEASING       NaN
4    {'day': 22.0, 'month': 6.0, 'year': 2015.0}   FINISHED      42.0
5   {'day': 20.0, 'month': 12.0, 'year': 2001.0}   FINISHED     162.0
6    {'day': 25.0, 'month': 7.0, 'year': 2025.0}   FINISHED     220.0
7     {'day': 4.0, 'month': 6.0, 'year': 1996.0}   FINISHED     276.0
8    {'day': 25.0, 'month': 4.0, 'year': 2024.0}   FINISHED     108.0
9    {'day': 11.0, 'month': 6.0, 'year': 2010.0}   FINISHED     116.0
10   {'day': 14.0, 'month': 1.0, 'year': 2016.0}   FINISHED      21.0
11    {'day': None, 'month': None, 'year': None}  RELEASING       NaN
12    {'day': None, 'month': None, 'year': None}  RELEASING       NaN
13    {'day': None, 'month': None, 'year': None}  RELEASING       NaN
14   {'day': 20.0, 'month': 7.0, 'year': 2020.0}   FINISHED     404.0
15   {'day': 9.0, 'month': 12.0, 'year': 2023.0}   FINISHED     256.0
16    {'day': None, 'month': None, 'year': None}  RELEASING       NaN
17   {'day': 13.0, 'month': 5.0, 'year': 1973.0}   FINISHED     171.0
18    {'day': None, 'month': None, 'year': None}  RELEASING       NaN
19  {'day': 15.0, 'month': 10.0, 'year': 2008.0}   FINISHED       2.0

    volumes                                        staff_names
0       NaN  [{'name': 'Kentarou Miura', 'primaryOccupation...
1      24.0  [{'name': 'Yasuki Tanaka', 'primaryOccupations...
2       NaN  [{'name': 'Takehiko Inoue', 'primaryOccupation...
3       NaN  [{'name': 'Eiichirou Oda', 'primaryOccupations...
4       9.0  [{'name': 'Kei Natsumi', 'primaryOccupations':...
5      18.0  [{'name': 'Naoki Urasawa', 'primaryOccupations...
6      29.0  [{'name': 'Makoto Yukimura', 'primaryOccupatio...
7      31.0  [{'name': 'Takehiko Inoue', 'primaryOccupation...
8      13.0  [{'name': 'Haruko Ichikawa', 'primaryOccupatio...
9      27.0  [{'name': 'Hiromu Arakawa', 'primaryOccupation...
10      5.0  [{'name': 'Keika Hanada', 'primaryOccupations'...
11      NaN  [{'name': 'Takehiko Inoue', 'primaryOccupation...
12      NaN  [{'name': 'Hyeon-Min Lee', 'primaryOccupations...
13      NaN  [{'name': 'Yasuhisa Hara', 'primaryOccupations...
14     45.0  [{'name': 'Haruichi Furudate', 'primaryOccupat...
15     12.0  [{'name': 'You Shiina', 'primaryOccupations': ...
16      NaN  [{'name': 'Kenji Inoue', 'primaryOccupations':...
17     20.0  [{'name': 'Ikki Kajiwara', 'primaryOccupations...
18      NaN  [{'name': 'Kiyohiko Azuma', 'primaryOccupation...
19      2.0  [{'name': 'Takehiko Inoue', 'primaryOccupation...

In [25]:
# --- Handle NULLS --- 

print("BEFORE:",top_manga.isna().sum())
top_manga["title_english"] = top_manga["title_english"].fillna("Not Recorded").astype(str)
top_manga["chapters"] = top_manga["chapters"].fillna(0).astype(float)
top_manga["volumes"] = top_manga["volumes"].fillna(0).astype(float)

print("AFTER:",top_manga.isna().sum())

print("Staff:",top_manga["staff_names"].head(10))

BEFORE: manga_id           0
title_romaji       0
title_english     78
title_native       0
format             0
popularity         0
average_score      0
genres             0
start_date         0
end_date           0
status             0
chapters         149
volumes          159
staff_names        0
dtype: int64
AFTER: manga_id         0
title_romaji     0
title_english    0
title_native     0
format           0
popularity       0
average_score    0
genres           0
start_date       0
end_date         0
status           0
chapters         0
volumes          0
staff_names      0
dtype: int64
Staff: 0    [{'name': 'Kentarou Miura', 'primaryOccupation...
1    [{'name': 'Yasuki Tanaka', 'primaryOccupations...
2    [{'name': 'Takehiko Inoue', 'primaryOccupation...
3    [{'name': 'Eiichirou Oda', 'primaryOccupations...
4    [{'name': 'Kei Natsumi', 'primaryOccupations':...
5    [{'name': 'Naoki Urasawa', 'primaryOccupations...
6    [{'name': 'Makoto Yukimura', 'primaryOccupatio...
7    [{'name': 'Takehiko Inoue', 'primaryOccupation...
8    [{'name': 'Haruko Ichikawa', 'primaryOccupatio...
9    [{'name': 'Hiromu Arakawa', 'primaryOccupation...
Name: staff_names, dtype: object

In [26]:
# --- Transform numpy arrays into lists ---

top_manga["staff_names"] = top_manga["staff_names"].apply(
    lambda x: list(x) if isinstance(x, np.ndarray) else x
)

In [27]:
# --- Transform Authors Occupations to Lists --- 

def fix_occupations(staff_list):
    if not isinstance(staff_list, list):
        return staff_list
    fixed = []
    for p in staff_list:
        occ = p.get("primaryOccupations", [])
        if isinstance(occ, np.ndarray):
            p["primaryOccupations"] = list(occ)
        fixed.append(p)
    return fixed

top_manga["staff_names"] = top_manga["staff_names"].apply(fix_occupations)

In [28]:
# --- Normalize Staff & Create Dataframe --- 

staff_rows = [] 

for _, row in top_manga.iterrows():
    manga_id = row["manga_id"]
    staff_list = row["staff_names"]

    if not isinstance(staff_list, list):
        continue

    for person in staff_list:
        name = person.get("name")
        occupations = person.get("primaryOccupations")

        if not occupations:
            staff_rows.append({
                "manga_id": manga_id,
                "staff_name": name,
                "occupation": "Not Recorded"
            })
        else:
            for occ in occupations:
                staff_rows.append({
                    "manga_id": manga_id,
                    "staff_name": name,
                    "occupation": occ
                })

staff_df = pd.DataFrame(staff_rows) # Save to dataframe 
print(staff_df.head(5))

   manga_id      staff_name    occupation
0     30002  Kentarou Miura       Mangaka
1     30002      Kouji Mori       Mangaka
2     30002     Studio Gaga  Not Recorded
3     30002    Marc Bernabé    Translator
4     30002    Paweł Dybała    Translator

In [29]:
# --- Normalize Genres ---

print(type(top_manga["genres"].iloc[0]))
print(top_manga["genres"].head(5))

# Step 1: Flatten all genres with manga_id 

genres_flat = top_manga.explode("genres")[["manga_id", "genres"]].dropna()
genres_flat.columns = ["manga_id", "genres"]

print("Genres:", genres_flat)

<class 'numpy.ndarray'>
0    [Action, Adventure, Drama, Fantasy, Horror, Ps...
1    [Action, Adventure, Drama, Mystery, Supernatural]
2                           [Action, Adventure, Drama]
3                 [Action, Adventure, Comedy, Fantasy]
4              [Drama, Fantasy, Mystery, Supernatural]
Name: genres, dtype: object
Genres:      manga_id     genres
0       30002     Action
0       30002  Adventure
0       30002      Drama
0       30002    Fantasy
0       30002     Horror
..        ...        ...
448    170400     Action
448    170400  Adventure
448    170400    Fantasy
449    163824     Action
449    163824    Fantasy

[1528 rows x 2 columns]

In [30]:
# --- Handle Date Columns ---
from datetime import datetime

print(top_manga["start_date"], top_manga["end_date"])

def parse_date(date_dict):
    if not isinstance(date_dict, dict):
        return None
    
    year = date_dict.get('year')
    month = date_dict.get('month')
    day = date_dict.get('day')

    if not year:
        return None 
    
    # Default missing month/day to 1 
    try: 
        return datetime(int(year), int(month or 1), int(day or 1)).date().isoformat()
    except:
        return None 
    

# Apply function on columns 

top_manga["start_date"] = top_manga["start_date"].apply(parse_date)
top_manga["end_date"] = top_manga["end_date"].apply(parse_date)

# Verify changes 
print("AFTER:", top_manga["start_date"], top_manga["end_date"], top_manga["start_date"].dtypes)

0      {'day': 25.0, 'month': 8.0, 'year': 1989}
1      {'day': 19.0, 'month': 1.0, 'year': 2004}
2       {'day': 3.0, 'month': 9.0, 'year': 1998}
3      {'day': 22.0, 'month': 7.0, 'year': 1997}
4      {'day': 21.0, 'month': 1.0, 'year': 2012}
                         ...
445     {'day': 6.0, 'month': 1.0, 'year': 1983}
446    {'day': 1.0, 'month': 11.0, 'year': 2002}
447    {'day': 13.0, 'month': 8.0, 'year': 2001}
448    {'day': 19.0, 'month': 9.0, 'year': 2023}
449    {'day': 14.0, 'month': 4.0, 'year': 2023}
Name: start_date, Length: 450, dtype: object 0       {'day': None, 'month': None, 'year': None}
1      {'day': 19.0, 'month': 4.0, 'year': 2011.0}
2       {'day': None, 'month': None, 'year': None}
3       {'day': None, 'month': None, 'year': None}
4      {'day': 22.0, 'month': 6.0, 'year': 2015.0}
                          ...
445    {'day': 30.0, 'month': 5.0, 'year': 1985.0}
446    {'day': 28.0, 'month': 1.0, 'year': 2011.0}
447    {'day': 13.0, 'month': 8.0, 'year': 2007.0}
448     {'day': None, 'month': None, 'year': None}
449     {'day': None, 'month': None, 'year': None}
Name: end_date, Length: 450, dtype: object
AFTER: 0      1989-08-25
1      2004-01-19
2      1998-09-03
3      1997-07-22
4      2012-01-21
          ...
445    1983-01-06
446    2002-11-01
447    2001-08-13
448    2023-09-19
449    2023-04-14
Name: start_date, Length: 450, dtype: object 0            None
1      2011-04-19
2            None
3            None
4      2015-06-22
          ...
445    1985-05-30
446    2011-01-28
447    2007-08-13
448          None
449          None
Name: end_date, Length: 450, dtype: object object

# DATABASE CREATION AND CONNECTION

In [31]:
print(top_manga.columns)
print(top_manga["chapters"])

Index(['manga_id', 'title_romaji', 'title_english', 'title_native', 'format',
       'popularity', 'average_score', 'genres', 'start_date', 'end_date',
       'status', 'chapters', 'volumes', 'staff_names'],
      dtype='object')
0        0.0
1       95.0
2        0.0
3        0.0
4       42.0
       ...
445     36.0
446    210.0
447     72.0
448      0.0
449      0.0
Name: chapters, Length: 450, dtype: float64

In [32]:
# --- Create Database Connection ---

conn = sqlite3.connect(DB_PATH)
cur = conn.cursor()

# --- Create top_manga2 table ---

cur.executescript("""
                CREATE TABLE IF NOT EXISTS top_manga2(
                  manga_id INTEGER,
                  title_romaji TEXT,
                  title_english TEXT,
                  title_native TEXT, 
                  format TEXT,
                  popularity INTEGER,
                  average_score INTEGER,
                  start_date TEXT,
                  end_date TEXT, 
                  status TEXT,
                  chapters FLOAT,
                  volumes FLOAT,
                  PRIMARY KEY (manga_id)
                  );
""")

# Convert top_manga DataFrame into list of tuples

top_manga_tuples = top_manga[["manga_id", "title_romaji", "title_english", "title_native", "format", "popularity", "average_score", "start_date", "end_date", "status",
                              "chapters", "volumes"]].itertuples(index=False, name=None)

# Insert into database 
cur.execute("DELETE FROM top_manga2")

cur.executemany("""
                INSERT OR REPLACE INTO top_manga2 (manga_id, title_romaji, title_english, title_native, format, popularity, average_score, start_date, end_date, status,
                chapters, volumes) VALUES ( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""", top_manga_tuples)


cur.execute("SELECT * FROM top_manga2 LIMIT 20")
print(cur.fetchall().head(10))

AttributeError: 'list' object has no attribute 'head'

In [ ]:
# --- Create Staff Table --- 

cur.execute("DROP TABLE IF EXISTS staff_2")

cur.execute("""
            CREATE TABLE IF NOT EXISTS staff_2(
            manga_id INTEGER,
            staff_name TEXT,
            occupation TEXT, 
            PRIMARY KEY (manga_id, staff_name, occupation),
            FOREIGN KEY (manga_id) references top_manga2(manga_id)
            );
""")

staff_tuples = staff_df[["manga_id", "staff_name", "occupation"]].itertuples(index=False, name=None)

# Fallback deletion 

cur.execute("DELETE FROM staff_2")

# Load into database 

cur.executemany("""
                INSERT OR REPLACE INTO staff_2(manga_id, staff_name, occupation) VALUES (?, ?, ?)""", staff_tuples)

cur.execute("SELECT * FROM staff_2 LIMIT 15")
print(cur.fetchall())

[(30002, 'Kentarou Miura', 'Mangaka'), (30002, 'Kouji Mori', 'Mangaka'), (30002, 'Studio Gaga', 'Not Recorded'), (30002, 'Marc Bernabé', 'Translator'), (30002, 'Paweł Dybała', 'Translator'), (30002, 'Drik Sada', 'Translator'), (30002, 'Duane Johnson', 'Translator'), (30002, 'Jason DeAngelis', 'Translator'), (30002, 'Jason DeAngelis', 'Writer'), (30002, 'David Deleule', 'Translator'), (30002, 'René-Gilles Deberdt', 'Translator'), (30002, 'Dan Nakrosis', 'Letterer'), (30002, 'John Schmitt-Weigand', 'Translator'), (30002, 'Diego Rodeguero', 'Not Recorded'), (30002, 'Alp İlkkurşun', 'Translator')]

In [ ]:
# --- Create genres table --- 

# Fallback deletion 

cur.execute("DROP TABLE IF EXISTS genres_2")

cur.execute("""CREATE TABLE IF NOT EXISTS genres_2(
            manga_id INTEGER,
            genre TEXT,
            PRIMARY KEY (manga_id, genre),
            FOREIGN KEY (manga_id) REFERENCES top_manga2(manga_id)
            );
""")

genre_tuples = genres_flat[["manga_id", "genres"]].itertuples(index=False, name=None)

cur.executemany("INSERT OR REPLACE INTO genres_2 (manga_id, genre) VALUES (?, ?)", genre_tuples)
cur.execute("SELECT * FROM genres_2 LIMIT 10")
print(cur.fetchall())

[(30002, 'Action'), (30002, 'Adventure'), (30002, 'Drama'), (30002, 'Fantasy'), (30002, 'Horror'), (30002, 'Psychological'), (31706, 'Action'), (31706, 'Adventure'), (31706, 'Drama'), (31706, 'Mystery')]

In [33]:
print(genres_flat["genres"].unique())

['Action' 'Adventure' 'Drama' 'Fantasy' 'Horror' 'Psychological' 'Mystery'
 'Supernatural' 'Comedy' 'Thriller' 'Sports' 'Sci-Fi' 'Slice of Life'
 'Romance' 'Music' 'Mecha' 'Ecchi' 'Mahou Shoujo']

In [45]:
# --- Commit & Close ---

conn.commit()
conn.close()