In [12]:
import sqlite3
import pandas as pd 
import random
import os 
import numpy as np 
import ast 

# --- Set paths to database ---

os.chdir("/Users/duartedasilva/Desktop/Data Work/Data Projects/manga_anilist_pipeline")

BASE_DIR = os.getcwd()
DATA_PATH = os.path.join(BASE_DIR, "data", "top_manga2.parquet")
DB_PATH = os.path.join(BASE_DIR, "db", "top_manga2.db")

print("Resolved Path:", os.path.abspath(DATA_PATH))
print("File exists?:", os.path.exists(DATA_PATH))

Resolved Path: /Users/duartedasilva/Desktop/Data Work/Data Projects/manga_anilist_pipeline/data/top_manga2.parquet
File exists?: True

In [13]:
# --- Load data as CSV file ---

top_manga = pd.read_parquet(DATA_PATH)
print(type(top_manga["staff_names"].iloc[0]))
print(top_manga["staff_names"].head(3))
print("COLUMNS:",top_manga.columns)
print(top_manga.info)
print(top_manga.describe(include='all'))

print("Dataframe:", top_manga.head(20))

<class 'numpy.ndarray'>
0    [{'name': 'Kentarou Miura', 'primaryOccupation...
1    [{'name': 'Yasuki Tanaka', 'primaryOccupations...
2    [{'name': 'Takehiko Inoue', 'primaryOccupation...
Name: staff_names, dtype: object
COLUMNS: Index(['manga_id', 'title_romaji', 'title_english', 'title_native', 'format',
       'popularity', 'average_score', 'genres', 'start_date', 'end_date',
       'status', 'chapters', 'volumes', 'staff_names'],
      dtype='object')
<bound method DataFrame.info of       manga_id                                       title_romaji  \
0        30002                                            Berserk
1        31706           JoJo no Kimyou na Bouken: Steel Ball Run
2        30656                                           Vagabond
3        30013                                          ONE PIECE
4        64053  Umineko no Naku Koro ni Chiru Episode 8: Twili...
...        ...                                                ...
1195    134556            Tokkiwa Heukpyobeomui Gongsaeng Gwangye
1196    128393                    Ingineun Mueonga Jalmotdoeeotda
1197    127683  Seishun Buta Yarou wa Logical Witch no Yume wo...
1198    125624                       Kuchi ga Saketemo Kimi ni wa
1199    112978                              Amigara Dansou no Kai

                                          title_english  \
0                                               Berserk
1       JoJo's Bizarre Adventure: Part 7–Steel Ball Run
2                                              Vagabond
3                                             One Piece
4     Umineko When They Cry Episode 8: Twilight of t...
...                                                 ...
1195              Little Rabbit and the Big Bad Leopard
1196                         Who Can Define Popularity?
1197             Rascal Does Not Dream of Logical Witch
1198                          Even If You Slit My Mouth
1199                        The Enigma of Amigara Fault

                                           title_native    format  popularity  \
0                                                 ベルセルク     MANGA      221068
1                               ジョジョの奇妙な冒険 スティール・ボール・ラン     MANGA       93405
2                                                 バガボンド     MANGA      144364
3                                             ONE PIECE     MANGA      210863
4     うみねこのなく頃に散 - Episode 8: Twilight of the Golden...     MANGA       10274
...                                                 ...       ...         ...
1195                                     토끼와 흑표범의 공생 관계     MANGA        9267
1196                                      인기는 무언가 잘못되었다     MANGA        2569
1197                              青春ブタ野郎はロジカルウィッチの夢を見ない     MANGA        3073
1198                                          口が裂けても君には     MANGA       18698
1199                                            阿彌殻断層の怪  ONE_SHOT        9703

      average_score                                             genres  \
0                93  [Action, Adventure, Drama, Fantasy, Horror, Ps...
1                92  [Action, Adventure, Drama, Mystery, Supernatural]
2                92                         [Action, Adventure, Drama]
3                91               [Action, Adventure, Comedy, Fantasy]
4                91            [Drama, Fantasy, Mystery, Supernatural]
...             ...                                                ...
1195             76           [Comedy, Fantasy, Romance, Supernatural]
1196             76                                  [Comedy, Romance]
1197             76  [Comedy, Drama, Mystery, Psychological, Romanc...
1198             76  [Comedy, Drama, Romance, Slice of Life, Supern...
1199             76     [Horror, Mystery, Psychological, Supernatural]

                                      start_date  \
0      {'day': 25.0, 'month': 8.0, 'year': 1989}
1      {'day': 19.0, 'month': 1.0, 'year': 2004}
2       {'day': 3.0, 'month': 9.0, 'year': 1998}
3      {'day': 22.0, 'month': 7.0, 'year': 1997}
4      {'day': 21.0, 'month': 1.0, 'year': 2012}
...                                          ...
1195   {'day': 22.0, 'month': 5.0, 'year': 2021}
1196    {'day': 9.0, 'month': 5.0, 'year': 2020}
1197    {'day': 1.0, 'month': 8.0, 'year': 2020}
1198  {'day': 10.0, 'month': 11.0, 'year': 2020}
1199  {'day': 30.0, 'month': 12.0, 'year': 2000}

                                          end_date     status  chapters  \
0       {'day': None, 'month': None, 'year': None}  RELEASING       NaN
1      {'day': 19.0, 'month': 4.0, 'year': 2011.0}   FINISHED      95.0
2       {'day': None, 'month': None, 'year': None}  RELEASING       NaN
3       {'day': None, 'month': None, 'year': None}  RELEASING       NaN
4      {'day': 22.0, 'month': 6.0, 'year': 2015.0}   FINISHED      42.0
...                                            ...        ...       ...
1195    {'day': None, 'month': None, 'year': None}  RELEASING       NaN
1196  {'day': 26.0, 'month': 10.0, 'year': 2022.0}   FINISHED      86.0
1197   {'day': 19.0, 'month': 5.0, 'year': 2022.0}   FINISHED      12.0
1198  {'day': 19.0, 'month': 12.0, 'year': 2023.0}   FINISHED      90.0
1199  {'day': 30.0, 'month': 12.0, 'year': 2000.0}   FINISHED       1.0

      volumes                                        staff_names
0         NaN  [{'name': 'Kentarou Miura', 'primaryOccupation...
1        24.0  [{'name': 'Yasuki Tanaka', 'primaryOccupations...
2         NaN  [{'name': 'Takehiko Inoue', 'primaryOccupation...
3         NaN  [{'name': 'Eiichirou Oda', 'primaryOccupations...
4         9.0  [{'name': 'Kei Natsumi', 'primaryOccupations':...
...       ...                                                ...
1195      NaN  [{'name': 'Mok-In', 'primaryOccupations': ['Ma...
1196      NaN  [{'name': 'Ji Zhi She', 'primaryOccupations': ...
1197      2.0  [{'name': 'Hajime Kamoshida', 'primaryOccupati...
1198     11.0  [{'name': 'Akari Kajimoto', 'primaryOccupation...
1199      NaN  [{'name': 'Junji Itou', 'primaryOccupations': ...

[1200 rows x 14 columns]>
             manga_id                                       title_romaji  \
count     1200.000000                                               1200
unique            NaN                                               1166
top               NaN  Umineko no Naku Koro ni Chiru Episode 5: End o...
freq              NaN                                                  2
mean     94864.024167                                                NaN
std      42863.696408                                                NaN
min      30001.000000                                                NaN
25%      53613.000000                                                NaN
50%     100471.500000                                                NaN
75%     126293.250000                                                NaN
max     194727.000000                                                NaN

                                 title_english title_native format  \
count                                      976         1200   1200
unique                                     954         1171      3
top     Wandering Witch: The Journey of Elaina         幼女戦記  MANGA
freq                                         2            2   1034
mean                                       NaN          NaN    NaN
std                                        NaN          NaN    NaN
min                                        NaN          NaN    NaN
25%                                        NaN          NaN    NaN
50%                                        NaN          NaN    NaN
75%                                        NaN          NaN    NaN
max                                        NaN          NaN    NaN

           popularity  average_score     genres  \
count     1200.000000    1200.000000       1200
unique            NaN            NaN       1154
top               NaN            NaN  [Romance]
freq              NaN            NaN         16
mean     17166.048333      80.004167        NaN
std      27417.285426       3.006107        NaN
min        382.000000      76.000000        NaN
25%       3763.000000      78.000000        NaN
50%       8345.500000      79.000000        NaN
75%      18035.000000      82.000000        NaN
max     298727.000000      93.000000        NaN

                                       start_date  \
count                                        1200
unique                                       1102
top     {'day': 10.0, 'month': 1.0, 'year': 2015}
freq                                            3
mean                                          NaN
std                                           NaN
min                                           NaN
25%                                           NaN
50%                                           NaN
75%                                           NaN
max                                           NaN

                                          end_date    status    chapters  \
count                                         1200      1200  812.000000
unique                                         774         3         NaN
top     {'day': None, 'month': None, 'year': None}  FINISHED         NaN
freq                                           378       816         NaN
mean                                           NaN       NaN  102.270936
std                                            NaN       NaN  117.315957
min                                            NaN       NaN    1.000000
25%                                            NaN       NaN   24.000000
50%                                            NaN       NaN   72.000000
75%                                            NaN       NaN  132.000000
max                                            NaN       NaN  961.000000

           volumes                                        staff_names
count   726.000000                                               1200
unique         NaN                                               1180
top            NaN  [{'name': 'Nobuyuki Fukumoto', 'primaryOccupat...
freq           NaN                                                  6
mean     11.639118                                                NaN
std      11.178517                                                NaN
min       1.000000                                                NaN
25%       3.000000                                                NaN
50%       9.000000                                                NaN
75%      17.000000                                                NaN
max      77.000000                                                NaN
Dataframe:     manga_id                                       title_romaji  \
0      30002                                            Berserk
1      31706           JoJo no Kimyou na Bouken: Steel Ball Run
2      30656                                           Vagabond
3      30013                                          ONE PIECE
4      64053  Umineko no Naku Koro ni Chiru Episode 8: Twili...
5      30001                                            MONSTER
6      30642                                       Vinland Saga
7      30051                                          SLAM DUNK
8      74489                                    Houseki no Kuni
9      30025                           Hagane no Renkinjutsushi
10    110992  Fata Morgana no Yakata: Anata no Genten ni Ita...
11     30657                                               Real
12    140407                      Yeokdaegeum Yeongji Seolgyesa
13     46765                                            Kingdom
14     65243                                          Haikyuu!!
15    113869  Honzuki no Gekokujou: Shisho ni Naru Tame ni w...
16     87395                                         Grand Blue
17     31303                                      Ashita no Joe
18     30104                                        Yotsuba to!
19    135129                       Vagabond: Saigo no Manga-ten

                                        title_english  \
0                                             Berserk
1     JoJo's Bizarre Adventure: Part 7–Steel Ball Run
2                                            Vagabond
3                                           One Piece
4   Umineko When They Cry Episode 8: Twilight of t...
5                                             Monster
6                                        Vinland Saga
7                                           Slam Dunk
8                                Land of the Lustrous
9                                 Fullmetal Alchemist
10                                               None
11                                               Real
12                      The Greatest Estate Developer
13                                            Kingdom
14                                           Haikyu!!
15                   Ascendance of a Bookworm: Part 5
16                                Grand Blue Dreaming
17               Ashita no Joe: Fighting for Tomorrow
18                                          Yotsuba&!
19                                               None

                                         title_native format  popularity  \
0                                               ベルセルク  MANGA      221068
1                             ジョジョの奇妙な冒険 スティール・ボール・ラン  MANGA       93405
2                                               バガボンド  MANGA      144364
3                                           ONE PIECE  MANGA      210863
4   うみねこのなく頃に散 - Episode 8: Twilight of the Golden...  MANGA       10274
5                                             MONSTER  MANGA       96925
6                                           ヴィンランド・サガ  MANGA      125169
7                                           SLAM DUNK  MANGA       67579
8                                                宝石の国  MANGA       72775
9                                              鋼の錬金術師  MANGA       72924
10  ファタモルガーナの館 ―The house in Fata morgana― あなたの原典に...  NOVEL        5516
11                                                リアル  MANGA       44576
12                                         역대급 영지 설계사  MANGA       48794
13                                              キングダム  MANGA       68191
14                                            ハイキュー！！  MANGA       95411
15           本好きの下剋上～司書になるためには手段を選んでいられません～第五部「女神の化身」  NOVEL        1881
16                                              ぐらんぶる  MANGA       62503
17                                            あしたのジョー  MANGA       26697
18                                              よつばと！  MANGA       58331
19                                      バガボンド 最後のマンガ展  MANGA        7956

    average_score                                             genres  \
0              93  [Action, Adventure, Drama, Fantasy, Horror, Ps...
1              92  [Action, Adventure, Drama, Mystery, Supernatural]
2              92                         [Action, Adventure, Drama]
3              91               [Action, Adventure, Comedy, Fantasy]
4              91            [Drama, Fantasy, Mystery, Supernatural]
5              91          [Drama, Mystery, Psychological, Thriller]
6              90                         [Action, Adventure, Drama]
7              90                            [Comedy, Drama, Sports]
8              89  [Action, Drama, Fantasy, Mystery, Psychologica...
9              89        [Action, Adventure, Comedy, Drama, Fantasy]
10             89             [Drama, Horror, Mystery, Supernatural]
11             89                     [Drama, Psychological, Sports]
12             89                       [Adventure, Comedy, Fantasy]
13             89                                    [Action, Drama]
14             89                            [Comedy, Drama, Sports]
15             88                           [Fantasy, Slice of Life]
16             88           [Comedy, Romance, Slice of Life, Sports]
17             88                     [Drama, Slice of Life, Sports]
18             88                            [Comedy, Slice of Life]
19             88                     [Action, Drama, Psychological]

                                    start_date  \
0    {'day': 25.0, 'month': 8.0, 'year': 1989}
1    {'day': 19.0, 'month': 1.0, 'year': 2004}
2     {'day': 3.0, 'month': 9.0, 'year': 1998}
3    {'day': 22.0, 'month': 7.0, 'year': 1997}
4    {'day': 21.0, 'month': 1.0, 'year': 2012}
5    {'day': 5.0, 'month': 12.0, 'year': 1994}
6    {'day': 27.0, 'month': 4.0, 'year': 2005}
7    {'day': 18.0, 'month': 9.0, 'year': 1990}
8   {'day': 25.0, 'month': 10.0, 'year': 2012}
9    {'day': 12.0, 'month': 7.0, 'year': 2001}
10    {'day': 4.0, 'month': 8.0, 'year': 2014}
11  {'day': 11.0, 'month': 11.0, 'year': 1999}
12    {'day': 5.0, 'month': 8.0, 'year': 2021}
13   {'day': 26.0, 'month': 1.0, 'year': 2006}
14   {'day': 20.0, 'month': 2.0, 'year': 2012}
15   {'day': 10.0, 'month': 3.0, 'year': 2020}
16    {'day': 7.0, 'month': 4.0, 'year': 2014}
17    {'day': 1.0, 'month': 1.0, 'year': 1968}
18   {'day': 21.0, 'month': 3.0, 'year': 2003}
19   {'day': 24.0, 'month': 5.0, 'year': 2008}

                                        end_date     status  chapters  \
0     {'day': None, 'month': None, 'year': None}  RELEASING       NaN
1    {'day': 19.0, 'month': 4.0, 'year': 2011.0}   FINISHED      95.0
2     {'day': None, 'month': None, 'year': None}  RELEASING       NaN
3     {'day': None, 'month': None, 'year': None}  RELEASING       NaN
4    {'day': 22.0, 'month': 6.0, 'year': 2015.0}   FINISHED      42.0
5   {'day': 20.0, 'month': 12.0, 'year': 2001.0}   FINISHED     162.0
6    {'day': 25.0, 'month': 7.0, 'year': 2025.0}   FINISHED     220.0
7     {'day': 4.0, 'month': 6.0, 'year': 1996.0}   FINISHED     276.0
8    {'day': 25.0, 'month': 4.0, 'year': 2024.0}   FINISHED     108.0
9    {'day': 11.0, 'month': 6.0, 'year': 2010.0}   FINISHED     116.0
10   {'day': 14.0, 'month': 1.0, 'year': 2016.0}   FINISHED      21.0
11    {'day': None, 'month': None, 'year': None}  RELEASING       NaN
12    {'day': None, 'month': None, 'year': None}  RELEASING       NaN
13    {'day': None, 'month': None, 'year': None}  RELEASING       NaN
14   {'day': 20.0, 'month': 7.0, 'year': 2020.0}   FINISHED     404.0
15   {'day': 9.0, 'month': 12.0, 'year': 2023.0}   FINISHED     256.0
16    {'day': None, 'month': None, 'year': None}  RELEASING       NaN
17   {'day': 13.0, 'month': 5.0, 'year': 1973.0}   FINISHED     171.0
18    {'day': None, 'month': None, 'year': None}  RELEASING       NaN
19  {'day': 15.0, 'month': 10.0, 'year': 2008.0}   FINISHED       2.0

    volumes                                        staff_names
0       NaN  [{'name': 'Kentarou Miura', 'primaryOccupation...
1      24.0  [{'name': 'Yasuki Tanaka', 'primaryOccupations...
2       NaN  [{'name': 'Takehiko Inoue', 'primaryOccupation...
3       NaN  [{'name': 'Eiichirou Oda', 'primaryOccupations...
4       9.0  [{'name': 'Kei Natsumi', 'primaryOccupations':...
5      18.0  [{'name': 'Naoki Urasawa', 'primaryOccupations...
6      29.0  [{'name': 'Makoto Yukimura', 'primaryOccupatio...
7      31.0  [{'name': 'Takehiko Inoue', 'primaryOccupation...
8      13.0  [{'name': 'Haruko Ichikawa', 'primaryOccupatio...
9      27.0  [{'name': 'Hiromu Arakawa', 'primaryOccupation...
10      5.0  [{'name': 'Keika Hanada', 'primaryOccupations'...
11      NaN  [{'name': 'Takehiko Inoue', 'primaryOccupation...
12      NaN  [{'name': 'Hyeon-Min Lee', 'primaryOccupations...
13      NaN  [{'name': 'Yasuhisa Hara', 'primaryOccupations...
14     45.0  [{'name': 'Haruichi Furudate', 'primaryOccupat...
15     12.0  [{'name': 'You Shiina', 'primaryOccupations': ...
16      NaN  [{'name': 'Kenji Inoue', 'primaryOccupations':...
17     20.0  [{'name': 'Ikki Kajiwara', 'primaryOccupations...
18      NaN  [{'name': 'Kiyohiko Azuma', 'primaryOccupation...
19      2.0  [{'name': 'Takehiko Inoue', 'primaryOccupation...

In [14]:
# --- Handle NULLS --- 

print("BEFORE:",top_manga.isna().sum())
top_manga["title_english"] = top_manga["title_english"].fillna("Not Recorded").astype(str)
top_manga["chapters"] = top_manga["chapters"].fillna(0).astype(float)
top_manga["volumes"] = top_manga["volumes"].fillna(0).astype(float)

print("AFTER:",top_manga.isna().sum())

print("Staff:",top_manga["staff_names"].head(10))

BEFORE: manga_id           0
title_romaji       0
title_english    224
title_native       0
format             0
popularity         0
average_score      0
genres             0
start_date         0
end_date           0
status             0
chapters         388
volumes          474
staff_names        0
dtype: int64
AFTER: manga_id         0
title_romaji     0
title_english    0
title_native     0
format           0
popularity       0
average_score    0
genres           0
start_date       0
end_date         0
status           0
chapters         0
volumes          0
staff_names      0
dtype: int64
Staff: 0    [{'name': 'Kentarou Miura', 'primaryOccupation...
1    [{'name': 'Yasuki Tanaka', 'primaryOccupations...
2    [{'name': 'Takehiko Inoue', 'primaryOccupation...
3    [{'name': 'Eiichirou Oda', 'primaryOccupations...
4    [{'name': 'Kei Natsumi', 'primaryOccupations':...
5    [{'name': 'Naoki Urasawa', 'primaryOccupations...
6    [{'name': 'Makoto Yukimura', 'primaryOccupatio...
7    [{'name': 'Takehiko Inoue', 'primaryOccupation...
8    [{'name': 'Haruko Ichikawa', 'primaryOccupatio...
9    [{'name': 'Hiromu Arakawa', 'primaryOccupation...
Name: staff_names, dtype: object

In [15]:
# --- Transform numpy arrays into lists ---

top_manga["staff_names"] = top_manga["staff_names"].apply(
    lambda x: list(x) if isinstance(x, np.ndarray) else x
)

In [16]:
# --- Transform Authors Occupations to Lists --- 

def fix_occupations(staff_list):
    if not isinstance(staff_list, list):
        return staff_list
    fixed = []
    for p in staff_list:
        occ = p.get("primaryOccupations", [])
        if isinstance(occ, np.ndarray):
            p["primaryOccupations"] = list(occ)
        fixed.append(p)
    return fixed

top_manga["staff_names"] = top_manga["staff_names"].apply(fix_occupations)

In [17]:
# --- Normalize Staff & Create Dataframe --- 

staff_rows = [] 

for _, row in top_manga.iterrows():
    manga_id = row["manga_id"]
    staff_list = row["staff_names"]

    if not isinstance(staff_list, list):
        continue

    for person in staff_list:
        name = person.get("name")
        occupations = person.get("primaryOccupations")

        if not occupations:
            staff_rows.append({
                "manga_id": manga_id,
                "staff_name": name,
                "occupation": "Not Recorded"
            })
        else:
            for occ in occupations:
                staff_rows.append({
                    "manga_id": manga_id,
                    "staff_name": name,
                    "occupation": occ
                })

staff_df = pd.DataFrame(staff_rows) # Save to dataframe 
print(staff_df.head(5))

   manga_id      staff_name    occupation
0     30002  Kentarou Miura       Mangaka
1     30002      Kouji Mori       Mangaka
2     30002     Studio Gaga  Not Recorded
3     30002    Marc Bernabé    Translator
4     30002    Paweł Dybała    Translator

In [18]:
# --- Normalize Genres ---

print(type(top_manga["genres"].iloc[0]))
print(top_manga["genres"].head(5))

# Step 1: Flatten all genres with manga_id 

genres_flat = top_manga.explode("genres")[["manga_id", "genres"]].dropna()
genres_flat.columns = ["manga_id", "genres"]

print("Genres:", genres_flat)

<class 'numpy.ndarray'>
0    [Action, Adventure, Drama, Fantasy, Horror, Ps...
1    [Action, Adventure, Drama, Mystery, Supernatural]
2                           [Action, Adventure, Drama]
3                 [Action, Adventure, Comedy, Fantasy]
4              [Drama, Fantasy, Mystery, Supernatural]
Name: genres, dtype: object
Genres:       manga_id         genres
0        30002         Action
0        30002      Adventure
0        30002          Drama
0        30002        Fantasy
0        30002         Horror
...        ...            ...
1198    125624   Supernatural
1199    112978         Horror
1199    112978        Mystery
1199    112978  Psychological
1199    112978   Supernatural

[3876 rows x 2 columns]

In [19]:
# --- Handle Date Columns ---
from datetime import datetime

print(top_manga["start_date"], top_manga["end_date"])

def parse_date(date_dict):
    if not isinstance(date_dict, dict):
        return None
    
    year = date_dict.get('year')
    month = date_dict.get('month')
    day = date_dict.get('day')

    if not year:
        return None 
    
    # Default missing month/day to 1 
    try: 
        return datetime(int(year), int(month or 1), int(day or 1)).date().isoformat()
    except:
        return None 
    

# Apply function on columns 

top_manga["start_date"] = top_manga["start_date"].apply(parse_date)
top_manga["end_date"] = top_manga["end_date"].apply(parse_date)

# Verify changes 
print("AFTER:", top_manga["start_date"], top_manga["end_date"], top_manga["start_date"].dtypes)

0        {'day': 25.0, 'month': 8.0, 'year': 1989}
1        {'day': 19.0, 'month': 1.0, 'year': 2004}
2         {'day': 3.0, 'month': 9.0, 'year': 1998}
3        {'day': 22.0, 'month': 7.0, 'year': 1997}
4        {'day': 21.0, 'month': 1.0, 'year': 2012}
                           ...
1195     {'day': 22.0, 'month': 5.0, 'year': 2021}
1196      {'day': 9.0, 'month': 5.0, 'year': 2020}
1197      {'day': 1.0, 'month': 8.0, 'year': 2020}
1198    {'day': 10.0, 'month': 11.0, 'year': 2020}
1199    {'day': 30.0, 'month': 12.0, 'year': 2000}
Name: start_date, Length: 1200, dtype: object 0         {'day': None, 'month': None, 'year': None}
1        {'day': 19.0, 'month': 4.0, 'year': 2011.0}
2         {'day': None, 'month': None, 'year': None}
3         {'day': None, 'month': None, 'year': None}
4        {'day': 22.0, 'month': 6.0, 'year': 2015.0}
                            ...
1195      {'day': None, 'month': None, 'year': None}
1196    {'day': 26.0, 'month': 10.0, 'year': 2022.0}
1197     {'day': 19.0, 'month': 5.0, 'year': 2022.0}
1198    {'day': 19.0, 'month': 12.0, 'year': 2023.0}
1199    {'day': 30.0, 'month': 12.0, 'year': 2000.0}
Name: end_date, Length: 1200, dtype: object
AFTER: 0       1989-08-25
1       2004-01-19
2       1998-09-03
3       1997-07-22
4       2012-01-21
           ...
1195    2021-05-22
1196    2020-05-09
1197    2020-08-01
1198    2020-11-10
1199    2000-12-30
Name: start_date, Length: 1200, dtype: object 0             None
1       2011-04-19
2             None
3             None
4       2015-06-22
           ...
1195          None
1196    2022-10-26
1197    2022-05-19
1198    2023-12-19
1199    2000-12-30
Name: end_date, Length: 1200, dtype: object object

In [20]:
print(len(top_manga))

1200

# DATABASE CREATION AND CONNECTION

In [21]:
print(top_manga.columns)
print(top_manga["chapters"])

Index(['manga_id', 'title_romaji', 'title_english', 'title_native', 'format',
       'popularity', 'average_score', 'genres', 'start_date', 'end_date',
       'status', 'chapters', 'volumes', 'staff_names'],
      dtype='object')
0        0.0
1       95.0
2        0.0
3        0.0
4       42.0
        ...
1195     0.0
1196    86.0
1197    12.0
1198    90.0
1199     1.0
Name: chapters, Length: 1200, dtype: float64

In [23]:
# --- Create Database Connection ---

conn = sqlite3.connect(DB_PATH)
cur = conn.cursor()

# --- Create top_manga2 table ---

cur.executescript("""
                CREATE TABLE IF NOT EXISTS top_manga2(
                  manga_id INTEGER,
                  title_romaji TEXT,
                  title_english TEXT,
                  title_native TEXT, 
                  format TEXT,
                  popularity INTEGER,
                  average_score INTEGER,
                  start_date TEXT,
                  end_date TEXT, 
                  status TEXT,
                  chapters FLOAT,
                  volumes FLOAT,
                  PRIMARY KEY (manga_id)
                  );
""")

# Convert top_manga DataFrame into list of tuples

top_manga_tuples = top_manga[["manga_id", "title_romaji", "title_english", "title_native", "format", "popularity", "average_score", "start_date", "end_date", "status",
                              "chapters", "volumes"]].itertuples(index=False, name=None)

# Insert into database 
cur.execute("DELETE FROM top_manga2")

cur.executemany("""
                INSERT OR REPLACE INTO top_manga2 (manga_id, title_romaji, title_english, title_native, format, popularity, average_score, start_date, end_date, status,
                chapters, volumes) VALUES ( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""", top_manga_tuples)


cur.execute("SELECT * FROM top_manga2 LIMIT 20")
print(cur.fetchall())

[(30001, 'MONSTER', 'Monster', 'MONSTER', 'MANGA', 96925, 91, '1994-12-05', '2001-12-20', 'FINISHED', 162.0, 18.0), (30002, 'Berserk', 'Berserk', 'ベルセルク', 'MANGA', 221068, 93, '1989-08-25', None, 'RELEASING', 0.0, 0.0), (30003, '20 Seiki Shounen', '20th Century Boys', '20世紀少年', 'MANGA', 96329, 88, '1999-09-27', '2006-04-24', 'FINISHED', 249.0, 22.0), (30004, 'Yokohama Kaidashi Kikou', 'Yokohama Kaidashi Kikou', 'ヨコハマ買い出し紀行', 'MANGA', 33955, 86, '1994-04-26', '2006-02-26', 'FINISHED', 144.0, 14.0), (30007, 'Hajime no Ippo', 'Hajime no Ippo: Fighting Spirit!', 'はじめの一歩', 'MANGA', 32059, 87, '1989-09-27', None, 'RELEASING', 0.0, 0.0), (30009, 'Tsubasa: RESERVoir CHRoNiCLE', 'Tsubasa RESERVoir CHRoNiCLE', 'ツバサ -RESERVoir CHRoNiCLE-', 'MANGA', 16472, 80, '2003-05-21', '2009-10-07', 'FINISHED', 233.0, 28.0), (30010, 'xxxHolic', 'xxxHOLiC', '×××ホリック', 'MANGA', 21573, 82, '2003-02-24', '2011-02-09', 'FINISHED', 214.0, 19.0), (30011, 'NARUTO', 'Naruto', 'NARUTO -ナルト-', 'MANGA', 91214, 79, '1999-09-21', '2014-11-10', 'FINISHED', 700.0, 72.0), (30012, 'BLEACH', 'Bleach', 'BLEACH', 'MANGA', 108673, 79, '2001-08-07', '2016-08-23', 'FINISHED', 706.0, 74.0), (30013, 'ONE PIECE', 'One Piece', 'ONE PIECE', 'MANGA', 210863, 91, '1997-07-22', None, 'RELEASING', 0.0, 0.0), (30017, 'Kareshi Kanojo no Jijou', 'Kare Kano: His and Her Circumstances', '彼氏彼女の事情', 'MANGA', 10538, 78, '1995-12-22', '2005-02-24', 'FINISHED', 108.0, 21.0), (30018, 'Kodomo no Omocha', "Kodocha: Sana's Stage", 'こどものおもちゃ', 'MANGA', 5874, 80, '1994-07-02', '1998-10-03', 'FINISHED', 54.0, 10.0), (30020, 'Hikaru no Go', 'Hikaru no Go', 'ヒカルの碁', 'MANGA', 12016, 79, '1998-12-08', '2003-07-14', 'FINISHED', 197.0, 23.0), (30021, 'DEATH NOTE', 'Death Note', 'DEATH NOTE', 'MANGA', 91099, 84, '2003-12-01', '2006-05-15', 'FINISHED', 108.0, 12.0), (30022, 'Rurouni Kenshin: Meiji Kenkaku Romantan', 'Rurouni Kenshin', 'るろうに剣心 -明治剣客浪漫譚-', 'MANGA', 24388, 82, '1994-04-05', '1999-09-21', 'FINISHED', 259.0, 28.0), (30023, 'Ranma 1/2', 'Ranma ½', 'らんま1/2', 'MANGA', 13644, 78, '1987-08-05', '1996-02-21', 'FINISHED', 407.0, 38.0), (30024, 'D.Gray-man', 'D.Gray-man', 'ディー・グレイマン', 'MANGA', 38786, 81, '2004-05-31', None, 'RELEASING', 0.0, 0.0), (30025, 'Hagane no Renkinjutsushi', 'Fullmetal Alchemist', '鋼の錬金術師', 'MANGA', 72924, 89, '2001-07-12', '2010-06-11', 'FINISHED', 116.0, 27.0), (30026, 'HUNTER×HUNTER', 'Hunter x Hunter', 'HUNTER×HUNTER', 'MANGA', 98232, 88, '1998-03-03', None, 'RELEASING', 0.0, 0.0), (30027, 'X', 'X', 'X', 'MANGA', 7881, 79, '1992-05-24', None, 'RELEASING', 0.0, 0.0)]

In [24]:
# --- Create Staff Table --- 

cur.execute("DROP TABLE IF EXISTS staff_2")

cur.execute("""
            CREATE TABLE IF NOT EXISTS staff_2(
            manga_id INTEGER,
            staff_name TEXT,
            occupation TEXT, 
            PRIMARY KEY (manga_id, staff_name, occupation),
            FOREIGN KEY (manga_id) references top_manga2(manga_id)
            );
""")

staff_tuples = staff_df[["manga_id", "staff_name", "occupation"]].itertuples(index=False, name=None)

# Fallback deletion 

cur.execute("DELETE FROM staff_2")

# Load into database 

cur.executemany("""
                INSERT OR REPLACE INTO staff_2(manga_id, staff_name, occupation) VALUES (?, ?, ?)""", staff_tuples)

cur.execute("SELECT * FROM staff_2 LIMIT 15")
print(cur.fetchall())

[(30002, 'Kentarou Miura', 'Mangaka'), (30002, 'Kouji Mori', 'Mangaka'), (30002, 'Studio Gaga', 'Not Recorded'), (30002, 'Marc Bernabé', 'Translator'), (30002, 'Paweł Dybała', 'Translator'), (30002, 'Drik Sada', 'Translator'), (30002, 'Duane Johnson', 'Translator'), (30002, 'Jason DeAngelis', 'Translator'), (30002, 'Jason DeAngelis', 'Writer'), (30002, 'David Deleule', 'Translator'), (30002, 'René-Gilles Deberdt', 'Translator'), (30002, 'Dan Nakrosis', 'Letterer'), (30002, 'John Schmitt-Weigand', 'Translator'), (30002, 'Diego Rodeguero', 'Not Recorded'), (30002, 'Alp İlkkurşun', 'Translator')]

In [25]:
# --- Create genres table --- 

# Fallback deletion 

cur.execute("DROP TABLE IF EXISTS genres_2")

cur.execute("""CREATE TABLE IF NOT EXISTS genres_2(
            manga_id INTEGER,
            genre TEXT,
            PRIMARY KEY (manga_id, genre),
            FOREIGN KEY (manga_id) REFERENCES top_manga2(manga_id)
            );
""")

genre_tuples = genres_flat[["manga_id", "genres"]].itertuples(index=False, name=None)

cur.executemany("INSERT OR REPLACE INTO genres_2 (manga_id, genre) VALUES (?, ?)", genre_tuples)
cur.execute("SELECT * FROM genres_2 LIMIT 10")
print(cur.fetchall())

[(30002, 'Action'), (30002, 'Adventure'), (30002, 'Drama'), (30002, 'Fantasy'), (30002, 'Horror'), (30002, 'Psychological'), (31706, 'Action'), (31706, 'Adventure'), (31706, 'Drama'), (31706, 'Mystery')]

In [26]:
print(genres_flat["genres"].unique())
print(len(top_manga))

['Action' 'Adventure' 'Drama' 'Fantasy' 'Horror' 'Psychological' 'Mystery'
 'Supernatural' 'Comedy' 'Thriller' 'Sports' 'Sci-Fi' 'Slice of Life'
 'Romance' 'Music' 'Mecha' 'Ecchi' 'Mahou Shoujo' 'Hentai']
1200

In [27]:
# --- Commit & Close ---

conn.commit()
conn.close()

In [28]:
DB_PATH_2 = os.path.join(BASE_DIR, "db", "top_manga.db")

conn = sqlite3.connect(DB_PATH_2)
cur = conn.cursor()

top_manga_original = pd.read_sql("SELECT * FROM top_manga", conn)
print(len(top_manga_original))

301